p{
    font-size: 20px;
    font-family: 'Osawald', sans-serif;
    font-weight: 200px;
    line-height: 20px;
}

#firstPara{
    background-color: yellow;
    color: brown;
}
#secondPara{
    background-color: rgb(100, 109, 192);
}
#thirdPara{
    background-color: rgba(66, 176, 86, 0.76);
}

.firstClass{
    background-color: #ac67bb59;
}
#fourPara{
    background-color: hsl(62, 60%, 56%);
}